<main>
  <mat-toolbar>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span><a routerLink="/">Shibal Admin</a></span>
    <div class="nav-btns">
      <button mat-icon-button routerLink="/users"><mat-icon>person</mat-icon></button>
    </div>
    <div class="nav-btns">
      <button mat-icon-button routerLink="/orders"><mat-icon>shopping-cart</mat-icon></button>
    </div>
    <div class="nav-btns">
      <button mat-icon-button routerLink="/operations"><mat-icon>task-alt</mat-icon></button>
    </div>

    <span class="spacer"></span>

    <button mat-icon-button>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content">
    <router-outlet />
  </div>
</main>